// app global css in SCSS form
:root {
  --header-image-height: 50px;
}
body {
  font-family: Arial, sans-serif;
}

.alpha-footer {
  padding: 1rem;
  border: 1px solid $primary;
  border-radius: 8px;
  background: #fff;

  align-items: center;
  display: flex;
}

.alpha-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.alpha-item {
  line-height: 1.4;
}

.top-right-absolute {
  position: absolute;
  top: 0;
  right: 0;
}

.q-icon.cursor-pointer {
  font-size: 1rem;
}
