// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.
// Check documentation for full list of Quasar variables
// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files
// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #007480;
$secondary: #00a79f;
$accent: #b51f1f;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$red: #ff0000;
$red-dark: #b51f1f;
$white: #fff;
$gray-100: #e6e6e6;
$gray-200: #d5d5d5;
$gray-300: #c1c1c1;
$gray-500: #8e8e8e;
$gray-600: #707070;
$black: #212121;
$leman: #00a79f;
$canard: #007480;

$breakpoint-md: 1100px;
$breakpoint-sm: 600px;

:root {
  --q-color-primary: #007480;
  --q-color-secondary: #00a79f;
}
